
.vscode/
.vs/
.idea/
cmake-build-*/
build/
build-*/
CMakeFiles/
CMakeCache.txt
*.user
*.user.*
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.VC.opendb
*.ipch
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.db
*.dll
*.exe
*.lib
*.exp
*.dll.a
*.a
*.o
*.out
*.dSYM/
*.xcworkspace/
Debug/
Release/
RelWithDebInfo/
MinSizeRel/
